.idea/
/qualifying round/node_modules/
/qualifying round/package-lock.json
/qualifying round/package.json
.venv/
/qualifying round/.ipynb_checkpoints/
models/pretrained_model.pkl
/venv/
data/
outputs/.DS_Store
.DS_Store
models/best_model.pkl